<h1>Welcome to this event commerce</h1>

<hr>

<h2>Our products:</h2>

<ul>
<% @products.each do |product| %>
<li><%= link_to product['name'], show_path(product['uuid']) %> <small>Produced by <%= product['producer_name'] %></small></li>
<% end %>
</ul>
